
body {
    background-color:white;
}
#snacks {
    text-align:center;
}
#MOBeef,#Homemade {
    height:75%;
    width:75%;
}
#cow,#pig,#chicken,#bison,#lamb,#pepper {
    height:10%;
    width:10%;
}
#Burgers {
    text-align:center;
}
#Buns {
    text-align:center;
}
#cows {
    height:5%;
    width:5%;
}
#pigs {
    height:5%;
    width:5%;
}
#Bisons {
    height:5%;
    width:10%;
}
#Lambs {
    height:5%;
    width:10%;
}
#veggies {
    height:5%;
    width:10%;
}
