
body {
    background-color:white;
}
#rightarrow,#snacks,#leftarrow {
    display:block;
    margin:0 auto;
}
#MOBeef,#Homemade {
    height:75%;
    width:75%;
}
#cow,#pig,#chicken,#bison,#lamb,#pepper {
    height:10%;
    width:10%;
}
#buns {
    text-align:center;
}
#cow {
    height:25%;
    width:25%;
}
